# SPDX-License-Identifier: MIT
[D-BUS Service]
Name=io.github.joonhoekim.tb323fu.Helper
Exec=/bin/false
User=root
SystemdService=tb323fu-helperd.service
