# SPDX-License-Identifier: MIT
# OPTIONAL -- only for setups WITHOUT the tb323fu helper (which drives these
# LEDs as root): let the desktop user (video group) write the flashlight and
# the RGB ring directly, e.g. from a script or a desktop extension.
SUBSYSTEM=="leds", KERNEL=="white:flash", RUN+="/bin/chgrp video /sys%p/brightness", RUN+="/bin/chmod g+w /sys%p/brightness"
SUBSYSTEM=="leds", KERNEL=="aw22127:rgb:indicator", RUN+="/bin/chgrp video /sys%p/brightness /sys%p/multi_intensity", RUN+="/bin/chmod g+w /sys%p/brightness /sys%p/multi_intensity"
